<!DOCTYPE html>
<html>
<head>
  <title>Unidom Authorization</title>
  <%= stylesheet_link_tag    'unidom/authorization/application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= javascript_include_tag 'unidom/authorization/application' %>

</body>
</html>
